body {
	background-image: url('/static/assets/gplaypattern.png');
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 40pt;
	margin-left: 10px;
	display: inline-block;
}

.tt-dropdown-menu {
	background-color: #FFF;
	border: 1px solid black;
}
.transport {
    width: 45px;
    height: 45px;
    /*background-color: gray;*/
}

.twitter-typeahead {
	width: 75%;
	margin-left: 10px;
	margin-right: 5px;
}

.btn {
	background-color: #A6CF4F;
	position: relative;
}

.maps{
	margin: auto;
	width: 1200px;
}

#map_view1 {
	margin:0 auto;
	display: inline-block;	
	/*margin-left: 50px;*/
	margin-top: 20px;
}

#map_view2 {
	margin:0 auto;
	display: inline-block;	
	/*margin-left: 50px;*/
	margin-top: 20px;
}