body {
	background-image: url('/static/assets/struckaxiom.png');
	/*background-color: #2ECC71;*/
	letter-spacing: 0.07em;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 40pt;
	margin-left: 10px;
	display: inline-block;
	color: #2ECC71;
}

h2 {
	margin-top:0px;
}

#location_one, #location_two {
	font-family: 'Raleway Thin', sans-serif;
	font-size: 14px;
	color: black;
}

.radio-inline {
	margin-right:20px;
}

.transport_icons_container {
	/*background: #EAC9BA;*/
	width: 100%;
	margin-left: 10px;
}



.tt-dropdown-menu {
	background-color: #FFF;
	border: 1px solid black;
	text-align: left;
}

.chrome {
	padding: 16px;
	background-color: #D4D4D5;
	border: 2px solid #D4D4D5;
    border-radius: 25px;
}

.chrome-subdued {
	padding: 16px;
	background-color: #D4D4D5;
	border: 2px solid #D4D4D5;
    border-radius: 25px;
}

.single-address-group {
	text-align: center;
}

.transport {
    width: 35px;
    height: 35px;
}

.business_icon {
	width: 35px;
	height: 35px;
}

label > input {
	visibility: hidden;
	position: absolute;
}

label > input + img {
	cursor:pointer;
	border:2px solid transparent;
}

label > input:checked + img {
	/*border: 2px solid #A6CF4F;*/
	border: 2px solid #2ECC71;
}

#car_button, #walk_button, #bike_button {
	width: 45px;
	height: 45px;
	background-color: transparent;
	border: none;
	margin:0 auto;
	display: inline-block;
}

.twitter-typeahead {
	font-family: 'Raleway Thin', sans-serif;
	width: 75%;
	margin-left: 10px;
	margin-right: 5px;
}

.btn {
	background-color: #90FFB9;
	color: black;
	height: 35px;
	font-family: 'Raleway', sans-serif;
	border: #2ECC71 solid 3px;
	padding: 1px 6px 1px 6px;;
}

.btn:focus {
    background-color: #90FFB9;
	color: black;
	height: 35px;
	font-family: 'Raleway', sans-serif;
    outline: none;
    border: #2ECC71 solid 3px;
}

.btn:hover {
	background-color: #2ECC71;
	color: white;
	font-family: 'Raleway', sans-serif;
	border: #2ECC71 solid 3px;
}

/*.maps{
	margin: 10px;
	width: 100%;
	display: none;
}*/

