body {
	background-image: url('/static/assets/gplaypattern.png');
	letter-spacing: 0.05em;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 40pt;
	margin-left: 10px;
	display: inline-block;
}

#location_one, #location_two {
	font-family: 'Raleway Thin', sans-serif;
	font-size: 14px;
	color: black;
	/*width: 95%;
	height: 20px;
	background-color: #FFF;
	position: relative;*/
}

.tt-dropdown-menu {
	background-color: #FFF;
	border: 1px solid black;
}
.transport {
    width: 45px;
    height: 45px;
    color: blue;
    /*background-color: blue;*/
}

.twitter-typeahead {
	font-family: 'Raleway Thin', sans-serif;
	width: 75%;
	margin-left: 10px;
	margin-right: 5px;
}

.btn {
	background-color: gray;
	position: relative;
	/*width: 95%;*/
	/*height: 20px;*/
	font-family: 'Raleway', sans-serif;
	border: solid green 1px;
}

.btn:hover {
	background-color: #A6CF4F;
	font-family: 'Raleway', sans-serif;
}

.maps{
	margin: auto;
	width: 1200px;
	/*display: none;*/
}

#map_view1 {
	margin:0 auto;
	display: inline-block;	
	/*margin-left: 50px;*/
	margin-top: 20px;
}

#map_view2 {
	margin:0 auto;
	display: inline-block;	
	/*margin-left: 50px;*/
	margin-top: 20px;
}

